.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-user {
    position: relative;
  }
  
  .navbar-user-icon {
    position: relative;
  }
  
  .navbar-user-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .user-info-tooltip {
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .navbar-user-icon:hover .user-info-tooltip {
    opacity: 1;
  }
  
  .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-signout {
    background-color: #dc3545;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }

  .btn-notification{
    background-color: #333;

  }
  